[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto = "==2.48.0"
contentful = "==1.6.0"
keen = "==0.5.1"
rq = "==0.10.0"
termcolor = "*"
click = "*"
google-auth = "*"
attrs = "==17.4.0"
gunicorn = "==19.7.1"
phonenumbers = "==8.9.1"
pymongo = "*"
pyzmq = "==17.0.0"
redis = "==2.10.6"
requests = "==2.18.4"
zenpy = "==1.2.6"
uuid = "==1.30"
flask = "==1.0.2"
flask-cors = "==3.0.3"
flask-jwt-extended = "==3.7.2"
pyjwt = "==1.6.0"
werkzeug = "==0.14.1"
gevent = "*"
greenlet = "*"
pyopenssl = "*"
pandas = "*"
tqdm = "*"
pystache = "==0.5.4"
boto3 = "*"
flatten-json = "*"
pytz = "==2018.3"
rq-scheduler = "==0.8.2"
openpyxl = "*"
pick = "*"
cardinality = "*"
dataclasses = "*"
xlrd = "*"
mypy-extensions = "*"
jsonschema = "*"
google-cloud-bigquery = "*"
google-cloud-translate = "*"
typing-inspect = "*"
regex = "*"
fuzzywuzzy = "*"
python-levenshtein = "*"
pyyaml = "*"
psycopg2 = "*"
numpy = "*"
motor = "*"
dnspython = "*"
pygraphviz = "*"
fptools = { git = "https://github.com/kang-health/fptools.git", editable = true }
uvloop = { version = "*", os_name = "!='nt'" }
networkx = "*"
pushjack = "*"
typing-extensions = "*"

[dev-packages]
rope = "*"
pylint = "*"
pyyaml = "*"
pytest = "*"
yapf = "*"
isort = "*"
mypy = "*"
ipython = "*"
pyinstrument = "*"
pygraphviz = "*"
contentful-management = "*"
rq-scheduler-dashboard = "*"
mongomock = "*"
mocker = "*"

[requires]
python_version = "3.6"

[scripts]
generate-env = "bash -c \"cat public.env > .env; bash scripts/generate-env.sh >> .env\""
generate-hugme-env = "bash -c \"cat hugme_server/public.env > hugme_server/.env; bash scripts/generate-env.sh >> hugme_server/.env\""
"prepare:classifier" = "python -m api_v2.pickle_classifiers"
"prepare:ptt" = "python -m ptt_data.ptt_data"
"prepare:contentful" = "python -c 'import k_contentful; k_contentful.prepare()'"
"prepare:externals" = "docker-compose -f docker-compose.local.yml up --detach"
"test:kangpy" = "pytest kangpy"
"k8s:get-commit" = "bash scripts/get-k8s-commit.sh"
"modify-secrets" = "bash scripts/modify-secrets.sh"
graph = "python -m scripts.graph"
"worker-dashboard" = "rq-scheduler-dashboard --bind localhost"
"port-forward" = "bash scripts/port-forward.sh"
